<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->
<% transactions = Transaction.all %>
<% ben_balance = 0 %>
<% brian_balance = 0 %>
<% evan_balance = 0 %>
<% anthony_balance = 0 %>

<h2>Transactions</h2>
    <ol>
    <% for transaction in transactions
   if transaction["from_user"] == "ben" 
     ben_balance = ben_balance - transaction["amount"]
   elsif transaction["from_user"] == "brian"
     brian_balance = brian_balance - transaction["amount"]
   elsif transaction["from_user"] == "evan"
     evan_balance = evan_balance - transaction["amount"]
   elsif transaction["from_user"] == "anthony"
     anthony_balance = anthony_balance - transaction["amount"]
   end

  if transaction["to_user"] == "ben"
    ben_balance = ben_balance + transaction["amount"]
  elsif transaction["to_user"] == "brian"
    brian_balance = brian_balance + transaction["amount"]
  elsif transaction["to_user"] == "evan"
    evan_balance = evan_balance + transaction["amount"]
  elsif transaction["to_user"] == "anthony"
   anthony_balance = anthony_balance + transaction["amount"]
  end 
end

%>


<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->